<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.getpocket.pocketsnack</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/bin:/usr/bin:/usr/local/bin</string> <!-- this allows us to run scripts from /usr/local/bin  -->
  </dict>
  <key>StandardOutPath</key>
  <string>/var/log/pocketsnack.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/pocketsnack.error.log</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/pocketsnack</string>
    <string>refresh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Minute</key>
    <integer>0</integer>
    <key>Hour</key>
    <integer>6</integer> <!-- this line is changed by install.sh  -->
  </dict>
  <key>KeepAlive</key>
    <dict>
      <key>Crashed</key>
      <true/>
    </dict>
</dict>
</plist>